/*メニュー周り*/

.main{
    margin:auto;
    width: 100%;
    background-color: black;
    border-top:1px solid #7f7f7f; 
    border-bottom:1px solid #7f7f7f; 
}

ul li a{
    color: white;
    text-decoration: none;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10000;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    display: inline-block;

    list-style: none;

    margin: auto;
    padding: 10px;
}


/*全体のデザイン*/

* {
    text-align: center;
}

html body {
    width: 100%;
    margin:0;
}

/*header,footer*/

header{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 20%;
    padding-left: 20%;
    margin: 0 auto;
    height: 350px;

    background-image: url("../img/landfall.JPG");
    color: white;
}

footer{
    height: 150px;
    margin:0 auto;
    background: black;
    color: white;
}

section {
    margin: 100px auto;
    width: 60%;
}

/*about関係*/

.about_cell{
    display: inline-block;

    background: lightgreen;
    border-radius: 10px;
    text-decoration: none;
    color: black;

    width: 160px;
    height: 200px;
    padding:0px 20px 0px 20px;
    margin:10px;


}

.subtitle{
    font-weight: bold;
    color: white;
}


.img_icon {
    width:64px;
    height: 64px;
    margin:auto;

    background-image: url('../img/sample.png');
}

